In [9]:
#importing our dependencies
import pandas as pd

In [10]:
#loading in our csv file with the data
df = pd.read_csv('Resources/heart_disease.csv')
df.head()

,Gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,Male,39,postgraduate,0,0.0,0.0,no,0,0,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,primaryschool,0,0.0,0.0,no,0,0,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,uneducated,1,20.0,0.0,no,0,0,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,graduate,1,30.0,0.0,no,1,0,225.0,150.0,95.0,28.58,65.0,103.0,yes
4,Female,46,graduate,1,23.0,0.0,no,0,0,285.0,130.0,84.0,23.10,85.0,85.0,No

In [11]:
#checking the name of the columns
df.columns

Index(['Gender', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'Heart_ stroke'],
      dtype='object')

In [14]:
na_counts = df.isna().sum()

print(na_counts)

Gender              0
age                 0
currentSmoker       0
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol            50
sysBP               0
diaBP               0
BMI                19
heartRate           1
Heart_ stroke       0
dtype: int64

In [13]:
df.drop(['education', 'cigsPerDay','BPMeds','glucose'], axis=1, inplace=True)

df.head()

,Gender,age,currentSmoker,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,Heart_ stroke
0,Male,39,0,no,0,0,195.0,106.0,70.0,26.97,80.0,No
1,Female,46,0,no,0,0,250.0,121.0,81.0,28.73,95.0,No
2,Male,48,1,no,0,0,245.0,127.5,80.0,25.34,75.0,No
3,Female,61,1,no,1,0,225.0,150.0,95.0,28.58,65.0,yes
4,Female,46,1,no,0,0,285.0,130.0,84.0,23.10,85.0,No

In [15]:
# Rename the columns using a mapping dictionary
new_column_names = {
    'Gender': 'gender',
    'age': 'age',
    'currentSmoker': 'current_smoker',
    'prevalentStroke': 'prevalent_stroke',
    'prevalentHyp': 'prevalent_hypertension',
    'diabetes': 'diabetes',
    'totChol': 'total_cholesterol',
    'sysBP': 'systolic_blood_pressure',
    'diaBP': 'diastolic_blood_pressure',
    'BMI': 'bmi',
    'heartRate': 'heart_rate',
    'Heart_ stroke': 'heart_stroke'
}

df.rename(columns=new_column_names, inplace=True)

df.head()

,gender,age,current_smoker,prevalent_stroke,prevalent_hypertension,diabetes,total_cholesterol,systolic_blood_pressure,diastolic_blood_pressure,bmi,heart_rate,heart_stroke
0,Male,39,0,no,0,0,195.0,106.0,70.0,26.97,80.0,No
1,Female,46,0,no,0,0,250.0,121.0,81.0,28.73,95.0,No
2,Male,48,1,no,0,0,245.0,127.5,80.0,25.34,75.0,No
3,Female,61,1,no,1,0,225.0,150.0,95.0,28.58,65.0,yes
4,Female,46,1,no,0,0,285.0,130.0,84.0,23.10,85.0,No

In [16]:
#checking the size of the dataframe
df.shape

(4238, 12)

In [17]:
df.dropna(inplace=True)

In [18]:
df.shape

(4169, 12)

In [19]:
# Save the cleaned DataFrame to a new CSV file
output_file_path = 'Resources/cleaned_data.csv'
df.to_csv(output_file_path, index=False)

print("DataFrame has been saved to:", output_file_path)

DataFrame has been saved to: Resources/cleaned_data.csv

In [20]:
df.dtypes

gender                       object
age                           int64
current_smoker                int64
prevalent_stroke             object
prevalent_hypertension        int64
diabetes                      int64
total_cholesterol           float64
systolic_blood_pressure     float64
diastolic_blood_pressure    float64
bmi                         float64
heart_rate                  float64
heart_stroke                 object
dtype: object